<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>MAV Ercolano | Museo archeologico virtuale</title>
	<link rel="shortcut icon" type="image/x-icon"
		href="#{resource['images/Logo-MAV.ico']}" />
</h:head>
<meta http-equiv="refresh" content="20;URL=index1.xhtml"/>
<h:body style="background: #444">
	<h:form>
		<b:row>
		
		<b:image library="images" name="logoteam.png" 
				class="img-responsive center-block" style="width:14% ;margin-top: 8em" />
		<b:image library="images" name="logoprotom.png" 
				class="img-responsive center-block" style="width:14% ;margin-top: 3em" />
		</b:row>
	</h:form>
	<b:row style="text-align:center; margin-top: 3em; color: #000000; font-size:20px">
		<b:column>
			<b:container offset="2">
			<h:outputText value="Developers : "/> <br></br><br></br>
			<h:outputText value="Gennaro Conza "/> <br></br>
			<h:outputText value="Luigi Criscuolo "/> <br></br>
			<h:outputText value="Maria De Rosa"/> <br></br>
			<h:outputText value="Marco Pellegrino "/><br></br>
			<h:outputText value="Davide Piepoli "/><br></br>
			</b:container>
		</b:column>
	</b:row>
			
</h:body>
</html>
				