<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>MAV Ercolano | Museo archeologico virtuale</title>
	<link rel="shortcut icon" type="image/x-icon" href="#{resource['images/Logo-MAV.ico']}"/>
</h:head>
<h:body style="overflow: hidden;     background-color: #920403" >
	<h:form>
	<b:image library="images" name="sfondo2.jpg" 
				class="img-responsive center-block" style="width:61% ;margin-top: -5em" />		
		
		
		<b:column>
				<div>
					<b:commandButton look="link"
						class="img-responsive center-block" actionListener="#{indexController.redirect('users/questions-list.xhtml?idSurvey=1')}">
						<b:image library="images" name="button1.png"
						  style="width:100px;margin-left: -300px;margin-top:-542px" />
					</b:commandButton>
				</div>
		</b:column>
				
		<b:column>
				<div>
					<b:commandButton look="link"
						class="img-responsive center-block" actionListener="#{indexController.redirect('users/questions-list.xhtml?idSurvey=1')}">
						<b:image library="images" name="button2.png"
						  style="width:100px;margin-top:-600px;margin-left: 18px" />
					</b:commandButton>
				</div>
		</b:column>
		
		<b:column>
				<div>
					<b:commandButton look="link"
						class="img-responsive center-block" actionListener="#{indexController.redirect('users/questions-list.xhtml?idSurvey=1')}">
						<b:image library="images" name="button3.png"
						  style="width:100px;margin-top:-663px;margin-left: 330px" />
					</b:commandButton>
				</div>
		</b:column>
		
		
		
		
	</h:form>
</h:body>
</html>
