<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>MAV Ercolano | Museo archeologico virtuale</title>
	<link rel="shortcut icon" type="image/x-icon" href="#{resource['images/Logo-MAV.ico']}"/>
	
	
	<nav class="navbar navbar-inverse"  >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.xhtml">Home</a></li>
        <li><a href="users/questions-list.xhtml?idSurvey=3">Adulti</a></li>
        <li><a href="users/questions-list.xhtml?idSurvey=4">Gruppi</a></li> 
        <li><a href="users/questions-list.xhtml?idSurvey=2">Ragazzi</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</h:head>
<h:body style="overflow: hidden;     background-color: #920403" >
	<h:form>
	<b:image library="images" name="c.jpg" 
				class="img-responsive center-block" style="width:61% ;margin-top: -5em" />		
		
		
		<b:column>
				<div>
					<b:commandButton look="link"
						class="img-responsive center-block" actionListener="#{indexController.redirect('users/questions-list.xhtml?idSurvey=3')}">
						<b:image library="images" name="button1.png"
						  style="width:80px;margin-top:-592px; margin-left: -240px" />
					</b:commandButton>
				</div>
		</b:column>
				
		<b:column>
				<div>
					<b:commandButton look="link"
						class="img-responsive center-block" actionListener="#{indexController.redirect('users/questions-list.xhtml?idSurvey=4')}">
						<b:image library="images" name="button2.png"
						  style="width:80px;margin-top:-660px;margin-left: 18px" />
					</b:commandButton>
				</div>
		</b:column>
		
		<b:column>
				<div>
					<b:commandButton look="link"
						class="img-responsive center-block" actionListener="#{indexController.redirect('users/questions-list.xhtml?idSurvey=2')}">
						<b:image library="images" name="button3.png"
						  style="width:80px;margin-top:-728px;margin-left: 270px" />
					</b:commandButton>
				</div>
		</b:column>
		
		
		
		
	</h:form>
	
	
	
	
	
	
	
	
	
	
	
	
</h:body>
</html>
