<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>MAV Ercolano | Museo archeologico virtuale</title>
	<link rel="shortcut icon" type="image/x-icon"
		href="#{resource['images/Logo-MAV.ico']}" />
</h:head>
<h:body style="background: #444">
	<h:form>
		<b:row>
		
		<b:image library="images" name="Logo-MAV.png" 
				class="img-responsive center-block" style="width:18% ;margin-top: 6em" />
		
			
		</b:row>
		<b:row style="text-align:center; margin-top: 3em">
			<b:column>
				<b:container offset="2" span="4" style="padding: 4em 0 4em 0; background: #FFF; border-radius: 20em 1em 20em 1em ; width:870px" >
					<b:commandButton look="link"
						actionListener="#{indexController.redirect('users/questions-list.xhtml?idSurvey=1')}">
						<b:image library="images" name="En.png" />
					</b:commandButton>

					<b:commandButton look="link"
						actionListener="#{indexController.redirect('users/questions-list.xhtml?idSurvey=9')}">
						<b:image library="images" name="Es.png" />
					</b:commandButton>

					<b:commandButton look="link"
						actionListener="#{indexController.redirect('users/questions-list.xhtml?idSurvey=7')}">
						<b:image library="images" name="Fr.png" />
					</b:commandButton>

					<b:commandButton look="link"
						actionListener="#{indexController.redirect('users/questions-list.xhtml?idSurvey=8')}">
						<b:image library="images" name="Ge.png" />
					</b:commandButton>
					
					<b:commandButton look="link"
						actionListener="#{indexController.redirect('home1.xhtml')}">
						<b:image library="images" name="It.png" />
					</b:commandButton>
					
				</b:container>
			</b:column>

		</b:row>
	</h:form>
</h:body>
</html>

