<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>MAV Ercolano | Museo archeologico virtuale</title>
	<link rel="shortcut icon" type="image/x-icon" href="#{resource['images/Logo-MAV.ico']}"/>
</h:head>
<h:body style="overflow: hidden;     background-color: #920403" >
	<b:row style="background: #a61f1f">
		<b:column offset="3" span="6" style="background: #920403">
		</b:column>
	</b:row>
		<h:form>
			<b:row>
			<b:image library="images" name="c.jpg" 
				class="img-responsive center-block" style="width:61% ;margin-top: -5em" />
				<b:column>
				<div>
					<b:commandButton look="link"
						 actionListener="#{indexController.redirect('home.xhtml')}">
						<b:image library="images" name="It.png"
							 class="img-responsive center-block" style="width:73px;margin-top:-321px ;margin-left: 607px" />
					</b:commandButton>
					</div>
				</b:column>
				
				<b:column>
				<div>
					<b:commandButton look="link"
						class="img-responsive center-block" actionListener="#{indexController.redirect('users/questions-list.xhtml?idSurvey=1')}">
						<b:image library="images" name="Uk.png"
						  style="width:71px;margin-top:-624px;margin-left: 135px" />
					</b:commandButton>
					</div>
				</b:column>
				
				<b:column >
				<div>
					<b:commandButton look="link"
						class="img-responsive center-block" actionListener="#{indexController.redirect('users/questions-list.xhtml?idSurvey=9')}">
						<b:image library="images" name="Es.png"
							 style="width:71px;margin-top:-696px;margin-left: -362px " />
					</b:commandButton>
					</div>
				</b:column>
				
				<b:column >
				<div>
					<b:commandButton look="link"
						class="img-responsive center-block" actionListener="#{indexController.redirect('users/questions-list.xhtml?idSurvey=7')}">
						<b:image library="images" name="Fr.png"
							 style="width:74px ;margin-top:-758px;margin-left: -194px" />
					</b:commandButton>
					</div>
				</b:column>
				
				<b:column >
				<div>
					<b:commandButton look="link"
						class="img-responsive center-block" actionListener="#{indexController.redirect('users/questions-list.xhtml?idSurvey=8')}">
						<b:image library="images" name="Ge.png"
							 style="width:77px;margin-top:-828px;margin-left: 303px" />
					</b:commandButton>
					</div>
				</b:column>
			</b:row>
		</h:form>
</h:body>
</html>

