<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>MAV Ercolano | Museo archeologico virtuale</title>
	<link rel="shortcut icon" type="image/x-icon"
		href="#{resource['images/Logo-MAV.ico']}" />
		
	<style type="text/css">
		.fa-pie-chart {
			color: #808184;
		}
	</style>
</h:head>
<h:body style="background: #444">
	<b:image library="images" name="admin.png" style="width:1.4%" />
	<b:image library="images" name="diagram.png" style="width:1.4%" />
	<h:panelGroup rendered="#{not empty user}"
		style="margin-top: 10em; color:#808184 ; background:#444 ">




		<Strong>Benvenuto, #{user}</Strong>
		<h:form>
			<h:commandButton value="logout" action="#{loginController.logout}" />
		</h:form>
	</h:panelGroup>


	<h:form>
		<b:row>

			<b:image library="images" name="Logo-MAV.png"
				class="img-responsive center-block"
				style="width:18% ;margin-top: 6em" />


		</b:row>
	</h:form>

	<b:row style="text-align:center; margin-top: 3em">
		<b:column>
			<b:container offset="2">
				<b:pillLinks>
					<ui:repeat var="survey" value="#{surveyListController.surveys}"
						varStatus="loop">
						<b:navLink value="#{survey.typology}"
							style="font-size: 1.3em; font-weight: bold;color: #c8c8c8"
							href="http://localhost:8080/plinio/pages/admin/piechart.xhtml?idSurvey=#{survey.id}"
							icon-awesome="pie-chart" icon-align="right"/>
					</ui:repeat>
				</b:pillLinks>
			</b:container>
		</b:column>
	</b:row>


</h:body>
</html>
