<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>MAV Ercolano | Museo archeologico virtuale</title>
	<link rel="shortcut icon" type="image/x-icon"
		href="#{resource['images/Logo-MAV.ico']}" />
</h:head>
<h:body style="background: #444">
	<h:form>
		<b:row>
		
		<b:image library="images" name="Logo-MAV.png" 
				class="img-responsive center-block" style="width:18% ;margin-top: 6em" />
		
			
		</b:row>
		
		
		
		
		
		
		
		
		
<b:row style="text-align:center; margin-top: 3em">
			<b:column>

  	<b:container layout="fluid" style="width: 500px" >
    	<b:panel title="LOGIN" look="primary">
    		<b:row>
        		<b:column medium-screen="3">
          			<h:outputText value="Username:" for="username" />
        		</b:column>
        		<b:column medium-screen="6">
    				<b:inputText id="username" value="#{loginController.username}" >   
    					<f:facet name="prepend">
        					<b:icon name="user" />
        				</f:facet>
   					</b:inputText>
    			</b:column>
			</b:row>
			<b:row>
        		<b:column medium-screen="3">
          			<h:outputText value="Password:" for="password" />
        		</b:column>
        		<b:column medium-screen="6">
    				<b:inputSecret id="password" value="#{loginController.password}" >
    					<f:facet name="prepend">
        					<b:iconAwesome name="key" />
        				</f:facet>
   					</b:inputSecret>
   				</b:column>	
   			</b:row>		
   			<b:row>
        		<b:column span="3" offset="3">
    				<b:commandButton value="Login" action="#{loginController.login}" look="primary" style="width:100%"/>
    			</b:column>	
   			</b:row>		
   			<h:messages globalOnly="true" style="color:red;margin:8px;" />
	</b:panel>

  </b:container>
  </b:column>
  </b:row>
  
	</h:form>
</h:body>
</html>	