<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>MAV Ercolano | Museo archeologico virtuale</title>
	<link rel="shortcut icon" type="image/x-icon"
		href="#{resource['images/Logo-MAV.ico']}" />
	<style>
body {
	position: relative;
	margin: 0;
	padding: 0;
}

.section {
	padding-top: 50px;
	height: 100vh;
	color: #fff;
}

.section-1 {
	background-color: cadetblue;
}

.section-2 {
	background-color: rosybrown;
}

.section-3 {
	background-color: deepskyblue;
}

#section1 {
	background-color: #1E88E5;
}

#section2 {
	background-color: #673ab7;
}

#section3 {
	background-color: #ff9800;
}

#section41 {
	background-color: #00bcd4;
}

#section42 {
	background-color: #009688;
}
</style>

	<script type="text/javascript"
		src="https://www.gstatic.com/charts/loader.js"></script>

	<script type="text/javascript">
   					google.charts.load("current", {packages:["corechart"]});
    				google.charts.setOnLoadCallback(drawChart);
    				function drawChart() {
    					<ui:repeat var="statisticSurveyData"
    						value="#{statisticSurveyController.statisticsSurveyData}"
    						varStatus="loop">

        					var data_#{loop.index} = google.visualization.arrayToDataTable([
            					['Answer', 'Value'],
            					#{statisticSurveyController.getPieChartData(statisticSurveyData)}
            				    ]);

            					var options = {
            						legend: {textStyle: {color: 'white', fontSize: 20}},
            						titlePosition: 'none',
            						is3D: true,
                					'backgroundColor': 'transparent'
                				};

               					var chart_#{loop.index} = new google.visualization.PieChart(document.getElementById('chart_' + #{loop.index}));
                				chart_#{loop.index}.draw(data_#{loop.index}, options);
    					</ui:repeat>
      				}
    			</script>

</h:head>
<h:body>
	<h:form>
	<style>
    	div.scroll {
      		position: relative;
      		height:200px;
      		overflow:scroll;
      		width: 98%;
    	}
  	</style>
		<b:growl id="growlMsg" globalOnly="true" placement-from="bottom"
			showDetail="false" showSummary="true" allowDismiss="true"
			delay="10000" escape="true" />

		<b:navBar id="nb" brand-img="http://localhost:8080/plinio/resources/images/Logo-MAV.png" brand-img-style="width:70px; margin-top:-20px;" brand-href="http://localhost:8080/plinio/pages/admin/adminhome.xhtml" fixed="top">
			
			<b:navbarLinks>
				<ui:repeat var="statisticsSurveyData"
					value="#{statisticSurveyController.statisticsSurveyData}"
					varStatus="loop">
					<b:navLink value="#{loop.index + 1}"
						href="##{statisticsSurveyData.id}" />
				</ui:repeat>
			</b:navbarLinks>
		</b:navBar>

		<ui:repeat var="statisticSurveyData"
			value="#{statisticSurveyController.statisticsSurveyData}"
			varStatus="loop">
			<div id="#{statisticSurveyData.question.id}"
				class="container-fluid section section-#{(loop.index % 3) + 1}">
			<b:container fluid="true" >	
				<h1 align="center">#{statisticSurveyData.question.text}</h1>
				<div id="chart_#{loop.index}" style="margin: 0 auto; width: 1400px; height: 600px; "></div>
			</b:container>	
			</div>
		</ui:repeat>
		 <b:scrollSpy target="nb" smooth="true" selectionListener="#{spy}" update="growlMsg"/>
	</h:form>
</h:body>
</html>
