<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>MAV Ercolano | Museo archeologico virtuale</title>
	<link rel="shortcut icon" type="image/x-icon"
		href="#{resource['images/Logo-MAV.ico']}" />
</h:head>
<h:body style="background: #444 ;font-size:2em">
	<h:form>
		<b:row>
		
		<b:image library="images" name="Logo-MAV.png" 
				class="img-responsive center-block" style="width:18% ;margin-top: 6em" />
		
			
		</b:row>
		<b:row style="text-align:center; margin-top: 3em ">
			<b:column>
		
			
			<h:outputLabel value="E-Mail:" for="email" />			
			<h:inputText id="email" value="#{visitorAddController.visitor.email}" 
				size="20" required="true" label="Email Address" >
				<f:validator validatorId="it.r8.webapp.plinio.email.EmailValidator" />
			</h:inputText>
			
			<h:message for="email" style="color:red" />
			
			<b:commandButton id="send" look="link" action="#{visitorAddController.addVisitor}" ajax="true"
						actionListener="#{indexController.redirect('../credits.xhtml')}" class="img-responsive center-block">
						<b:image library="images" name="buttonenter.png"  />
			</b:commandButton>
			
			<b:commandButton look="link" 
						actionListener="#{indexController.redirect('../index1.xhtml')}" class="img-responsive center-block">
						<b:image library="images" name="buttonindietro.png"  />
			</b:commandButton>
			
			
			</b:column>
			</b:row>
			
			
			
	</h:form>
</h:body>
</html>
