<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>MAV Ercolano | Museo archeologico virtuale</title>
</h:head>
<h:body>
	<b:row>
		<b:column>
			<b:image library="images" name="Logo-MAV.png"
				style="margin-left: 1em" />
			<b:image library="images" name="Uk.png"
				style="margin-left: 80em ; width:50px"/>	
		</b:column>
	</b:row>
	
	
	
	
	
	<h:form id="test">
		<ui:repeat var="question" value="#{questionListController.questions}"
			varStatus="loop">

			<b:container>
				<span>#{question.text}</span>
				<h:selectOneRadio
					value="#{questionListController.choices[question.id]}"
					update="test:send">
					<f:selectItems value="#{question.answers}" var="answer"
						itemLabel="#{answer.text}" itemDescription="#{answer.text}"
						itemValue="#{answer.id}"/>
						<f:ajax render="@form"></f:ajax>
					
				</h:selectOneRadio>
				
			</b:container>
		</ui:repeat>

		<b:commandButton id="send" value="Test" action="#{questionListController.addSurvey}" ajax="true" disabled="#{questionListController.enableToSend()}" />
	</h:form>

</h:body>
</html>
