<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

  <h:head>
    <title>MAV Ercolano | Museo archeologico virtuale</title>
    <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/Logo-MAV.ico']}"/>
    <script type="text/javascript"><!--
document.addEventListener("mousemove", resetTimer);
document.addEventListener("keypress", resetTimer);

var tID = '';

function resetTimer() {
  clearTimeout(tID); // reset the timer
  tID = setTimeout('executeTimer()',30000);
}

function executeTimer() {
  location.href = 'http://localhost:8080/plinio/pages/index1.xhtml';
}
//--></script>
    <style>
      body {
        position: relative;
      }
      
      .section {
        padding-top: 50px;
      	height: 100vh;
      	color: #fff;
      }
      
      .section-1{
      	background-color: cadetblue;
      }
      
      .section-2{
      	background-color: rosybrown;
      }
      
      .section-3{
      	background-color: deepskyblue;
      }
      
      
      #section1 {
        background-color: #1E88E5;
      }
      
      #section2 {
        background-color: #673ab7;
      }
      
      #section3 {
        background-color: #ff9800;
      }
      
      #section41 {
        background-color: #00bcd4;
      }
      
      #section42 {
        background-color: #009688;
      }
    </style>
  </h:head>
  <h:body>
    <h:form id="test">
     <style>
    div.scroll {
      position: relative;
      height:200px;
      overflow:scroll;
      width: 98%;
    }
  </style>
      <b:growl id="growlMsg" globalOnly="true" placement-from="bottom" showDetail="false" showSummary="true" allowDismiss="true" delay="10000" escape="true" />
     
      <b:navBar id="nb" brand-img="http://localhost:8080/plinio/resources/images/Logo-MAV.png" brand-img-style="width:70px; margin-top:-20px;" brand-href="http://localhost:8080/plinio/pages/index1.xhtml" fixed="top">
      
            <b:navbarLinks>
             <ui:repeat var="question" value="#{questionListController.questions}" varStatus="loop">
				<b:navLink value="#{loop.index + 1}" href="##{loop.index+1}" />
             </ui:repeat>
            </b:navbarLinks>
       </b:navBar>
	<ui:repeat var="question" value="#{questionListController.questions}" varStatus="loop">
	  <div id="#{loop.index+1}" class="container-fluid section section-#{(loop.index % 3) + 1}">
	  <b:container fluid="true" >
        <h1>#{loop.index+1}. #{question.text}</h1>
        
        <h3 style="margin-top:0" >
        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        
        <h:selectOneRadio 
					value="#{questionListController.choices[question.id]}"  enabledClass="inline-label"  layout="pageDirection"
					update="test:send">
					<br/>
					<f:selectItems value="#{question.answers}" var="answer"
						itemLabel="#{answer.text}" itemDescription="#{answer.text}"
						itemValue="#{answer.id}"  />
						<f:ajax render="@form"></f:ajax>
				</h:selectOneRadio>
				</h:panelGrid>
				
				</h3>
				
				<b:row rendered= "#{loop.last}" >	
				
				<b:commandButton id="send" look="link" action="#{questionListController.addSurvey}" ajax="true" 
						disabled="#{questionListController.enableToSend()}"
						actionListener="#{indexController.redirect('add.xhtml')}" class="img-responsive center-block">
						<b:image library="images" name="buttonenter.png"  />
				</b:commandButton>
				</b:row>
			</b:container>	
        </div>
        
        
      
	</ui:repeat>
		
      <b:scrollSpy target="nb" smooth="true" selectionListener="#{spy}" update="growlMsg"/>
    </h:form>
  </h:body>
</html>